.work {
  text-align: center;
}

.work_title {
  font-size: var(--size-2xl);
  color: var(--col-light);
  margin: 1em;
}

.project_img img {
  opacity: 90%;
  transition: transform 0.3s;
}
.project_img img:hover {
  transform: scale(1.2);
}

.project_desp_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project_desp_wrapper:not(:last-child) {
  margin-bottom: 5rem;
}

.desp_title {
  display: none;
}

.project_title {
  font-size: var(--size-base);
  color: var(--col-light);
  margin: 1rem;
}

.project_description {
  color: var(--col-slate400);
  font-size: var(--size-sm);
  margin: 1rem 0;
}

.project_btn {
  font-size: var(--size-sm);
}

.button_container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.sourceCode_link {
  color: var(--col-slate600);
  text-decoration: none;
}

/* xs */
@media (min-width: 475px) {
  .work_title {
    font-size: var(--size-3xl);
  }

  .project_title {
    font-size: var(--size-lg);
    margin-bottom: 1.5rem;
  }

  .project_description {
    font-size: var(--size-base);
    margin: 1.5rem 0;
  }

  .project_btn {
    font-size: var(--size-base);
  }
}

/* sm */
@media (min-width: 640px) {
  .work {
    margin-top: 5rem;
  }
  .work_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "img5 content5"
      " content1 img1"
      "img2 content2 "
      "content3 img3"
      "content4 img4";
    place-items: center;
    gap: 4rem;
  }

  .work_title {
    margin-bottom: 5rem;
  }
  .img1 {
    grid-area: img1;
  }
  .img2 {
    grid-area: img2;
  }
  .img3 {
    grid-area: img3;
  }

  .content1 {
    grid-area: content1;
  }
  .content2 {
    grid-area: content2;
  }
  .content3 {
    grid-area: content3;
  }

  .project_title {
    display: none;
  }

  .project_description {
    font-size: var(--size-xs);
    margin: 1em;
  }

  .project_btn {
    font-size: var(--size-xs);
  }

  .project_desp_wrapper:not(:last-child) {
    margin-bottom: 0;
  }

  .desp_title {
    display: block;
    font-size: var(--size-base);
    color: var(--col-light);
  }
}

/* med */
@media (min-width: 768px) {
  .project_description {
    font-size: var(--size-sm);
  }

  .project_btn {
    font-size: var(--size-sm);
  }
  .desp_title {
    font-size: var(--size-lg);
  }
}

/* large */
@media (min-width: 1024px) {
  .work_title {
    font-size: var(--size-4xl);
  }

  .project_description {
    font-size: var(--size-base);
  }

  .project_btn {
    font-size: var(--size-base);
  }
  .desp_title {
    font-size: var(--size-xl);
  }
}

/* xl */
@media (min-width: 1280px) {
  .work_title {
    font-size: var(--size-5xl);
  }

  .project_description {
    font-size: var(--size-lg);
  }

  .project_btn {
    font-size: var(--size-lg);
  }
  .desp_title {
    font-size: var(--size-2xl);
  }

  .work {
    margin: 0 auto;
  }
}

/* xxl */
/* @media (min-width: 1536px) {}  */
