.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.contact_title {
  font-size: var(--size-2xl);
  color: var(--col-light);
  text-transform: capitalize;
}

.contact_description {
  font-size: var(--size-sm);
  color: var(--col-slate400);
  max-width: 60ch;
}

.contact_btn {
  font-size: var(--size-sm);
}

.social_media {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.social_media svg {
  width: 50px;
  height: 50px;
}

.contact_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
}

/* .contact_form_container{
  width: 100%;
  place-items: center;
} */

.contact_form {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 0 auto;
}

.contact_form input,
textarea {
  padding: 5px 5px;
  margin-bottom: 1rem;
  font: inherit;
  font-size: var(--size-xs);
  border: none;
  outline: none;
  background: var(--col-slate800);
  color: var(--col-slate400);
  border-radius: 6px;
  resize: none;
  height: 30px;
}

.contact_form textarea {
  height: 100px;
}

::placeholder {
  color: var(--col-slate600);
}

.contact_btn {
  width: 47%;
  font-size: var(--size-xs);
  margin: 0 auto;
}

.form_error {
  color: red;
}

/* xs */
@media (min-width: 475px) {
  .contact {
    gap: 1.5rem;
  }

  .contact_title {
    font-size: var(--size-3xl);
  }

  .contact_description {
    font-size: var(--size-base);
  }

  .contact_btn {
    font-size: var(--size-base);
  }
}

/* sm */
@media (min-width: 640px) {
  .contact_form input {
    height: 40px;
    font-size: var(--size-sm);
  }

  .contact_form textarea {
    height: 120px;
    font-size: var(--size-sm);
  }

  .contact_form {
    width: 50%;
  }

  .contact_btn {
    width: 40%;
    font-size: var(--size-sm);
  }
}

/* med */
/* @media (min-width: 768px) {} */

/* large */
@media (min-width: 1024px) {
  .contact_title {
    font-size: var(--size-4xl);
  }

  .contact_description {
    font-size: var(--size-lg);
  }

  .contact_btn {
    font-size: var(--size-lg);
  }

  .social_media svg {
    width: 90px;
    height: 90px;
  }

  .contact_container {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .contact_form {
    width: 700px;
    padding-top: 4rem;
  }

  .social_media {
    flex-direction: column;
  }

  .contact_form input {
    height: 40px;
    margin-bottom: 1.5rem;
    font-size: var(--size-base);
  }

  .contact_form textarea {
    height: 140px;
    font-size: var(--size-base);
    margin-bottom: 1.5rem;
  }

  .contact_btn {
    width: 30%;
    font-size: var(--size-base);
  }
}

/* xl */
@media (min-width: 1280px) {
  .contact {
    gap: 2rem;
  }

  .contact_title {
    font-size: var(--size-5xl);
  }

  .contact_description {
    font-size: var(--size-xl);
  }

  .contact_btn {
    font-size: var(--size-xl);
  }
}

/* xxl */
/* @media (min-width: 1536px) {}  */
